<!DOCTYPE html>
<html>
<head>
	<title>函数接受参数并弹出</title>
	<meta charset="utf-8">
	<script src="vue.min.js"></script>
	<style type="text/css">
		*{margin:0;padding: 0;}
		#app{
				width: 500px;
				height: 300px;
				position: relative;
				top: 100px;
				margin:auto;
				display: flex;
				flex-direction:column;
		}
		#app input{
			height: 50px;
			margin-bottom: 20px;
			font-size: 20px;
		}
	</style>
</head>
<body>
		<div id="app">
			<input type="text"  v-model="message1">
			<input type="text"  v-model="message2">
			<button @click="fn">传参</button>
		</div>	
		<script type="text/javascript">
			new Vue({
				el:"#app",
				data:{
					message1:'北京市',
					message2:'上海市',
				},
				methods:{
					fn(){
						alert(this.message1);	
						alert(this.message2);
					}
				}

			})
		</script>	
</body>
</html>